/* styles.css */
.button-87 {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none; /* Remove the default underline */
  width: 200px;
}

.button-87:hover,
.button-87:focus {
  text-decoration: underline; /* Add the underline on hover or focus */
}

.button-87:active {
  transform: scale(0.95);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Simplified Arabic', sans-serif;
}

body.page {
  background-image: url('خلفية الكعبة.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
body.east-makkah {
  background-color: #FCE5D8;
}

header {
  background-color: #FFD8AD;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 45px;
  margin-right: -35px; /* Adjust the margin-right value to move the logo on the right more to the right */
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}


.rights {
  position: absolute; 
  bottom: 20px;
  right: 10px;
  color: black;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 10; /* Ensure it appears above other elements */
  background: rgba(255, 255, 255, 0.7); /* Optional: add a semi-transparent background for readability */

}

/* Add new CSS below */

@media screen and (max-width: 480px) {
  .rights {
    bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  .slide-1 h1 {
    font-size: 5vw;
  }
}

/* Swiper section */
.swiper-container {
  width: 100%;
  height: 60vh; /* Reduce the height to 60% of the viewport height */
  position: relative;
  overflow: hidden; /* Ensure the content does not overflow */
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #f2f2f2; /* Set the background color for the slides */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Make the slides fill the container width */
  height: 100%; /* Make the slides fill the container height */
}

.slide-1 {
  background-image: url('مسجد الجعرانة.jpg');
  background-size: 100% 100%;
  position: relative; /* Ensure the slide itself is positioned relatively */
}

.slide-1 h1 {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #574419; /* Adjust the color of the title */
  font-size: 6vw; /* Adjust the font size relative to the viewport width */
  white-space: nowrap; /* Prevent text from breaking into multiple lines */
}

@media (max-width: 767px) {
  .slide-1 h1 {
    font-size: 8vw; /* Adjust the font size for smaller screens */
  }
}

.slide-2 {
  background-image: url('مسجد الجعرانة مشوش.jpg');
  background-size: 100% 100%;
  position: relative; /* Ensure the slide itself is positioned relatively */
}

.slide-2 h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black; /* Adjust the color of the title */
  font-size: 16px; /* Adjust the font size of the title */
  width: 90%; /* Set the width to 90% of the slide */
  text-align: center; /* Center align the text */
  padding: 10px; /* Add some padding for spacing */
  background: rgba(255, 255, 255, 0.3); /* Optional: add a semi-transparent background for readability */
  border-radius: 10px; /* Optional: add border radius for rounded corners */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.swiper-pagination {
  position: absolute;
  right: 20px; /* Adjust the right value to control the distance from the right edge */
  top: 50%; /* Center the pagination vertically */
  transform: translateY(-50%); /* Center the pagination vertically */
  display: flex;
  flex-direction: column; /* Change the direction to vertical */
  align-items: right; /* Center align the bullets */
  gap: 20px; /* Increase the vertical gap between the bullets */
  z-index: 10; /* Ensure it appears above other elements */
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #000;
  border-radius: 50%; /* Make the bullets round */
  transform: scale(1.5); /* Increase the size of the active bullet by 1.5x */
}

.swiper-pagination-bullet-active {
  background-color: #FFD8AD;
  transform: scale(2); /* Increase the size of the active bullet by 1.5x */
}
.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .swiper-container {
    height: 300px; /* Adjust the height for smaller screens */
  }

  .swiper-pagination {
    right: 10px; /* Adjust the right value for smaller screens */
    top: 50%; /* Adjust the top value for smaller screens */
    transform: translateY(-50%); /* Center the pagination vertically for smaller screens */
  }

  .swiper-pagination-bullet {
    width: 20px; /* Adjust the width of the bullets for smaller screens */
    height: 20px; /* Adjust the height of the bullets for smaller screens */
  }
}